<table class="table table-striped table-responsive table-hover">
    <thead>
    <tr>
        <th>{{ keyCaption }}</th>
        <th>{{ valueCaption }}</th>
    </tr>
    </thead>
    <tbody>
    {% for key, value in keyValues %}
        <tr>
            <td>
                {{ key }}
            </td>
            <td>
                {{ value }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">
                <h3 class="text-center">
                    No data found.
                </h3>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>