body {
    margin-top: 60px;
    margin-bottom: 50px;
}

.navbar-brand {
    font-size: 20px;
    padding-left: 25px;
}

.nav.navbar-nav > li {
    font-size: 16px;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tab-pane .container {
    padding: 10px;
}

.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
    top: 80px;
    left: -43px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.badge {
    background-color: #efefef;
    color: #808080;
}

a {
    color: #ed0036;
}

a:hover,
a:active,
a:focus {
    color: #af002c;
}

.navbar a.nav-link {
    color: #fafafa;
}

.navbar a.nav-link:hover,
.navbar a.nav-link:active,
.navbar a.nav-link:focus {
    color: #dedede;
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}
#database-select .dropdown-item {
    cursor: pointer;
}
#database-select .dropdown-item:hover {
    background-color: #eee;
}
