<div class="container">
    <button class="btn btn-danger" id="b1"
            data-event-source="{{ appConfig.getBaseUrl }}/server/{{ serverKey }}/stats">
        <span class="fa fa-play"></span> Start monitor
    </button>

    <hr>

    <div class="row">
        <div class="col-6" id="clientstats"></div>
        <div class="col-6" id="iostats"></div>
    </div>
</div>
