<div class="container">
    <button class="btn btn-danger" id="b1"
            data-event-source="{{ appConfig.getBaseUrl }}/server/{{ serverKey }}/stats">
        <span class="fa fa-play"></span> Start monitor
    </button>

    <hr>

    <div id="clientstats"></div>

    <hr>

    <div id="iostats"></div>
</div>
