<div class="container">
    {% for entry in slowLogEntries %}
        <h3>#{{ entry.getSlowLogId }} @ {{ entry.getOccurredOn|formatDateTime }}</h3>
        <div>
            <b>Duration:</b> {{ entry.getDuration }} microseconds
        </div>
        <div>
            <b>Command:</b>

            <p class="text-muted small">{{ entry.getCommand }}</p>
        </div>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% else %}
        <h3 class="text-center">
            No slow logs found.
        </h3>
    {% endfor %}
</div>
