<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Holger Woltersdorf's redis status">
    <meta name="author" content="Holger Woltersdorf">

    {% block page_title %}
        <title>Redis Status</title>
    {% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/css/github-fork-ribbon.css">
    <link rel="stylesheet" media="screen" href="/css/theme.css">


    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container">
        {% block breadcrumb %}{% endblock %}
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <p class="text-right">
            RedisStatus {{ appVersion }} by
            <a href="https://github.com/hollodotme" target="_blank">Holger Woltersdorf</a>
        </p>
    </div>
    <div class="github-fork-ribbon-wrapper left-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/hollodotme/redis-status" target="_blank">Fork me on GitHub</a>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
