{% extends "Theme/Theme.twig" %}

{% block pageTitle %}
    <title>Error</title>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}

    <h1>Whoops! An error occurred...</h1>

    <p>
        {{ errorMessage }}
    </p>

{% endblock %}

{% block javascripts %}{% endblock %}
